body{
   background: #EBECF5;
	background-image: url(esch.png);
   width: 960px;
	color: #ffffff;
   margin: 0 auto;
   font-family: 'Droid Sans', sans-serif;
}
.title{
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
   font-size: 35px;
   color: #ffffff;
   margin-top: 40px;
	margin-bottom: 40px;
}
.exercise{
	padding: 20px;
	margin-bottom: 10px;
	border: 1px solid #999999;
}
td{
    padding: 8px;
    border: 1px solid #444444;
}
.err{
    background-color: #441111;
    color: #ff0000;
    margin: 2px;
    border: 1px solid #ffffff;
}
.info{
    background-color: #3444ff;
    color: #ffffff;
    margin: 2px;
    border: 1px solid #ffffff;
}
.pull-right{
    position: relative;
    float: right;
}
a{
    text-decoration: none;
}
a:link{
    color: #FFE673;
}
a:visited{
    color: #a68800;
}
a:hover{
    color: #ffd200;
}
.text-right{
    text-align: right;
}
.hold-center{
    margin: 0 auto;
}
